@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Space+Mono:wght@700&display=swap");

// font-family: 'Space Grotesk', sans-serif;
// font-family: 'Space Mono', monospace;

body {
  font-family: "Space Grotesk", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fcf7e6;
}
